<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning backend !!</title>
  <link rel="stylesheet" href="/stylesheets/style.css"> 
  <!-- remember ejs ki file mai kabhi bh /public nh likhna -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1>Hello backend learner !! <%= 2+2 %></h1>
  <p>You've learned it hurrrrrray !!</p>
  
</body>
</html>